<h3>Co to jest Exoloteria?</h3>
Exoloteria, jest to nieoficjalny event przygotowany przeze mnie, czyli Świstaka : )<br />
Można w nim wygrać wiele nagród, upominków, takich jak primale, skórki, clothy - nagrody są dobrane tak, aby nie było specjalnie poszkodowanych: nie będzie w loterii przedmiotów bezwartościowych, szaraków itp. : )<br />
Wszystkie nagrody, które są aktualnie na "magazynie" (czyli można je wygrać) znajdziesz w dziale <a href='/nagrody.php'>Nagrody</a>.

<h3>Jak wygrać?</h3>
Wysyłasz list do gracza o nicku <b>Exoloteria (dla ally) lub Exoloterih (dla hordy)</b> i w przesyłce dorzucasz 10g - jako los : )<br />
Ja, gdy wejdę na tą postać, wylosuję nagrodę i ją do Ciebie wyślę - postaram się <u>minimum</u> raz dziennie wysyłać nagrody, choć teraz, na wakacjach na pewno będzie to częściej : )<br />
Za losowanie odpowiada skrypt napisany przeze mnie, który od razu dodaje Cię do listy zwycięzców na stronie - bez oszustw, nagroda jaką wygrasz to nie będzie moje widzimisię : )<br />
Aby loteria nie była nadużywana, losy przyjmuję od postaci >20 lvl (mniejsze i tak raczej 10g nie zgromadzą bez wsparcia : >), jeden los dziennie na każdą postać.<br />

<h3>Jak mogę pomóc Exoloterii?</h3>
Zawsze będę potrzebował nowych nagród dla graczy - te które przyjmuję, wymienię poniżej : )
<ul>
<li>primale</li>
<li>karty Darkmoon Faire</li>
<li>skórki TBC</li>
<li>enchanting matsy TBC</li>
<li>ore i bary TBC</li>
<li>herby TBC</li>
<li>surowe gemy TBC</li>
<li>mikstury TBC</li>
<li>Netherweave Cloth</li>
<li>jedzonko TBC - najlepiej w paczkach po 10 sztuk (bo pojedyńczo nie będę rozdawał xD)</li>
<li>pety, itp. itemki 4fun ; )</li>
<li>inne itemki, najlepiej TBC</li>
</ul>
